<!doctype html>
<html lang="en" class="fullscreen-bg">

<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box ">
					<div class="left">
						<div class="content">
							<div class="header">
								<div class="logo text-center">美好家园物业水电管理</div>
								<p class="lead">欢迎您</p>
							</div>
							<form class="form-auth-small" action="/login.action">
								<div class="form-group">
									<label for="signin-email" class="control-label sr-only">手机号</label>
									<input type="text" class="form-control" id="signin-email" name="phone" placeholder="请输入手机号">
								</div>
								<div class="form-group">
									<label for="signin-password" class="control-label sr-only">密码</label>
									<input type="password" class="form-control" id="signin-password" name="password" placeholder="请输入密码">
								</div>
								<div class="form-group clearfix">
									<label class="fancy-checkbox element-left">
										<input id="message" type="hidden" th:value="${session.message}">
<!--										<span id="dl-message" class="text-danger" style="display: none">用户名或密码错误</span>-->
									</label>
								</div>
								<button type="submit" class="btn btn-primary btn-lg btn-block" id="btn-login">登录</button>
								<div class="bottom">
									<span class="helper-text"><i class="fa fa-lock text-info"></i>如果您忘记了密码，请到物业管理处重置</span>
								</div>
							</form>
						</div>
					</div>
					<div class="right">
						<div class="overlay"></div>
						<div class="content text">
							<h1 class="heading">您的满意，是我们极致的追求和最大的荣幸</h1>
							<p>美好家园小区物业</p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
</body>
</html>
