<!doctype html>
<html lang="en">

<head>
	<title>Tables</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top" th:replace="index :: #nav"></nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar" th:replace="index :: #sidebar-nav"></div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<div>
						<h3 class="page-title">用户列表</h3>
						<form class="form-inline" role="form" action="/searchTables" method="post">
							<div class="form-group">
								姓名：
								<input type="text" class="form-control" name="username" id="username"
									   placeholder="请输入姓名">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</div>
							<div class="form-group">
								手机号：
								<input type="text" class="form-control" name="phone" id="phone"
									   placeholder="请输入手机号">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</div>
							<div class="form-group">
								身份证号：
								<input type="text" class="form-control" name="idCard" id="idCard"
									   placeholder="请输入身份证号">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</div>
							<button type="submit" class="btn btn-info bi-search">搜索</button>
						</form>
						<br> <br>
					</div>


					<div class="row">
						<div class="col-md-12">
							<!-- BASIC TABLE -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">所有用户</h3>
								</div>
								<div class="panel-body">
									<table class="table">
										<thead>
											<tr>
												<th>用户id</th>
												<th>用户姓名</th>
												<th>手机号</th>
												<th>住址</th>
												<th>账户余额</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="user:${userlist}">
												<!--/*@thymesVar id="user" type="com.panglin.pojo.TbUser"*/-->
												<input type="hidden" th:value="${user.id}" class="user_upd_Id">
												<td th:text="${user.id}"></td>
												<td th:text="${user.username}"></td>
												<td th:text="${user.bName}+${user.uName}+${user.mName}"></td>
												<td th:text="${user.phone}"></td>
												<td th:text="${user.money}"></td>
												<td>
													<button type="button" class="btn btn-info pwd-upd-btn" onclick="upd_pwd(this)" th:attr="updPwdId=${user.id}">重置密码</button>
													<button type="button" class="btn btn-danger del-upd-btn" onclick="del_user(this)" th:attr="delPwdId=${user.id}">删除用户</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<!-- END BASIC TABLE -->
						</div>

					</div>

				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">Copyright &copy; 2017.Company name All rights reserved.</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
</body>
	<script type="text/javascript">
		// 重置密码
		function upd_pwd(result){
			var userid=$(result).attr('updPwdId');
			var bool=confirm("确定重置密码吗？ \n 此操作不可撤销，重置后的密码为：123456");
			if (bool) {
				$.ajax({
					url: '/resetPwd?id=' + userid,
					type: 'post',
					'success': function (result) {
						alert(result.msg);
						location.href = "/findAllUser";
					}
				})
			}
		}
		// 删除用户
		function del_user(result){
			var userid=$(result).attr('delPwdId');
			var date=confirm("确定删除用户吗？");
			if (date) {
				$.ajax({
					url: '/delUser?id=' + userid,
					type: 'post',
					'success': function (result) {
						alert(result.msg);
						location.href = "/findAllUser";
					}
				})
			}
		}
	</script>
</html>
